services:
  kavita:
    image: kizaing/kavita:latest
    container_name: kavita
    ports:
      - "5000:5000"
    volumes:
      - /portainer/Books:/books
      - /opt/stacks/kavita/data:/config
    restart: unless-stopped
