services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    ports:
      - "9001:9001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
