services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.15.1
    container_name: elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - /opt/stacks/elasticsearch/data/usr_share_elasticsearch_data:/usr/share/elasticsearch/data
