services:
  calibre:
    image: linuxserver/calibre:latest
    container_name: calibre
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - /volume1/docker/calibre/config:/config
    restart: unless-stopped
