services:
  heimdall:
    image: linuxserver/heimdall:latest
    container_name: heimdall
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /opt/stacks/heimdall/data:/config
    restart: unless-stopped
