services:
  jellyfin:
    image: linuxserver/jellyfin:latest
    container_name: jellyfin
    ports:
      - "8096:8096"
      - "8920:8920"
    volumes:
      - /opt/stacks/jellyfin/data:/config
      - /portainer/TV:/data/tvshows
      - /portainer/Movies:/data/movies
    restart: unless-stopped
