services:
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    ports:
      - "5055:5055"
    volumes:
      - /opt/stacks/jellyseerr/data/app_config:/app/config
    restart: unless-stopped
