services:
  jenkins:
    image: jenkins/jenkins:lts-jdk11
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - /opt/stacks/jenkins/data/var_jenkins_home:/var/jenkins_home
