services:
  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    ports:
      - "9117:9117"
    volumes:
      - /opt/stacks/jackett/data:/config
      - /portainer/Downloads:/downloads
    restart: unless-stopped
