services:
  samba:
    image: dperson/samba:latest
    container_name: samba
    ports:
      - "139:139"
      - "445:445"
    volumes:
      - /portainer/Downloads:/share
    restart: unless-stopped
    privileged: true
