services:
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    ports:
      - "5050:80"
    volumes:
      - /opt/stacks/pgadmin/data/lib:/var/lib/pgadmin
    restart: unless-stopped
