services:
  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    ports:
      - "9091:9091"
    volumes:
      - /opt/stacks/authelia/data/etc_authelia:/etc/authelia/
    restart: unless-stopped
