services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Athens
    volumes:
      - /opt/stacks/readarr/data:/config
      - /opt/stacks/readarr/data:/books #optional
      - /opt/stacks/readarr/data:/downloads #optional
    ports:
      - 8787:8787
    restart: unless-stopped
