services:
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - /opt/stacks/minio/data/data:/data
      - /opt/stacks/minio/data/root_.minio:/root/.minio
    command: "server /data --console-address ':9001'"
