services:
  mysql:
    image: mysql/mysql-server:5.7
    container_name: mysql
    ports:
      - "3306:3306"
    volumes:
      - /opt/stacks/mysql/data/var_lib_mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_HOST=%
