services:
  minecraft:
    image: itzg/minecraft-server:latest
    container_name: minecraft
    ports:
      - "25565:25565"
    volumes:
      - /opt/stacks/minecraft/data:/data
    restart: unless-stopped
