services:
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Athens
    volumes:
      - /opt/stacks/bazarr/data:/config
      - /opt/stacks/bazarr/data:/movies #optional
      - /opt/stacks/bazarr/data:/tv #optional
    ports:
      - 6767:6767
    restart: unless-stopped
