services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    ports:
      - "80:80"
    volumes:
      - /opt/stacks/vaultwarden/data:/config
    restart: unless-stopped
